<div class="about-content">
	
<img src="/img/flowerGS.png" class="constrainer">
<!-- <img src="img/chamelee.png"> -->
<span>
	EAU DE PARFUM
</span>
<p>
I’m barely human. I’m more like a creature; to me, everything gives off a scent!
<br>
Thoughts, moments, feelings, movements, words left unsaid, words barely spoken; they all have a distinct sense, distinct fragrances!
<br>
Both a smell and a touch!
<br>
To inhale is to capture, to experience!
<br>
I can perceive and I can “touch” in so many odd ways!
<br>
And so I am made up of all these scents, all these feelings!
<br>
An illumination of nerve endings.
<br>
I am Chamelee'.
</p>

<div class="blog-shares">
		<div>
				<i class="share-twitter fa fa-twitter-square fa-3x"></i>
		</div>

		<div class="fb-like" data-href="{{.GetURL}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
		<i class="share-facebook fa fa-facebook-square fa-3x"></i>	
		</div>

		<div class="g-plusone" data-width="300" data-href="{{.GetURL}}">
			<a href="https://plus.google.com/share?url={{.GetURL}}">
			<i class="share-google fa fa-google-plus-square fa-3x"></i>	
			</a>
		</div>
</div>

<div class="jass-logo-small"> </div>
</div>