	<img src="/img/flowerGS.png">
	<span class="backbtn">
		Discover More ...
	</span>
	<span class="backbtn footer-x">
	<i class="fa fa-chevron-down"></i>	
	</span>

	<div class="backbtn">
		More
		<div data-href="/shop">Shop</div>
		<div data-href="/blog">Blog</div>
		<div data-href="/ambassadors">Ambassadors</div>
		<div data-href="/privacy">Terms & Cond.</div>
		<div data-href="/privacy">Privacy</div>
		<div data-href="/about">About</div>
		<hr>
		<div data-href="/newsletter">Newsletter</div>
		<div data-href="/contact">Contact Us</div>
	</div>
	<div class="backbtn social-column">
		Follow us
		<i class="fa fa-instagram fa-2x"></i>
		<i class="fa fa-facebook-square fa-2x"></i>	
		<i class="fa fa-twitter-square fa-2x"></i>
		<i class="fa fa-pinterest-square fa-2x"></i>
		<i class="fa fa-google-plus-square fa-2x"></i>	
		<i class="fa fa-youtube-square fa-2x"></i>	
	</div>