<div class="blog-article-name gotop">
	<span class="gotop">{{.Name}}</span>
	<i class="fa fa-chevron-up"></i>
</div>
<div class="blog-article">
	<div class="blog-article-image">
		<div class="image-box">
			<img src="/img/models/{{.Image}}">
		</div>
	</div>
	<div class="blog-article-title">{{.Title}}</div>
	<div class="blog-article-content">{{range .GetLines}} {{.}}<br> {{end}}</div>

	<div class="blog-shares">
		<div>
			<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{.GetURL}}+{{.Name}}" data-size="large">
				<i class="share-twitter fa fa-twitter-square fa-3x"></i>
			</a>
		</div>

		<div class="fb-like" data-href="{{.GetURL}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
		<i class="share-facebook fa fa-facebook-square fa-3x"></i>	
		</div>

		<div class="g-plusone" data-width="300" data-href="{{.GetURL}}">
			<a href="https://plus.google.com/share?url={{.GetURL}}">
			<i class="share-google fa fa-google-plus-square fa-3x"></i>	
			</a>
		</div>
	</div>

	<div class="jass-logo-small">
		<i class="fa fa-chevron-left fa-3x"></i>
		<i class="fa fa-chevron-right fa-3x"></i>
	</div>
</div>
