<span class="sales-account"><i class="fa fa-2x fa-user"></i></span>
<span class="sales-qty">{{.GetCartItemCount}}</span>
<span class="sales-amount">{{.GetCartTotal}}</span>
<span class="sales-cart"><i class="fa fa-2x fa-shopping-cart"></i></span>
<!-- <span class="sales-checkout hidden"><i class="fa fa-2x fa-credit-card"></i></span> -->