<!-- Slide in menu once logged in  -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="slidemenu">
  <a href="#" id="menu-fragrances"><i class="fa fa-snowflake-o"></i> Fragrances</a>
  <a href="#" id="menu-skincare"><i class="fa fa-hand-lizard-o"></i> Skincare</a>
  <a href="#" id="menu-merchandise"><i class="fa fa-gift"></i> Merchandise</a>
  <a href="#" id="menu-blog"><i class="fa fa-hashtag"></i> Blog</a>
  <a href="#" id="menu-ambassadors"><i class="fa fa-user-circle-o"></i> Ambassadors</a>
  <a href="#" id="menu-about"><i class="fa fa-question-circle-o"></i> About</a>
  <a href="#" id="menu-contact"><i class="fa fa-at"></i> Contact</a>
<!-- 
  <a href="#" id="menu-shop"><i class="fa fa-shopping-bag"></i> Shop</a>
  <a href="#" id="menu-discover"><i class="fa fa-snowflake-o"></i> Discover</a>
  <a href="#" id="menu-merchandise"><i class="fa fa-gift"></i> Merchandise</a>
  <a href="#" id="menu-facebook"><i class="fa fa-facebook"></i> Facebook</a>
  <a href="#" id="menu-twitter"><i class="fa fa-twitter"></i> Twitter</a>
  <a href="#" id="menu-instagram"><i class="fa fa-instagram"></i> Instagram</a>
  <a href="#" id="menu-blog"><i class="fa fa-hashtag"></i> Blog</a>
  <a href="#" id="menu-contact"><i class="fa fa-at"></i> Contact</a>

 --></nav> 



